.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 2);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.action-boxes {
  width: 625px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 40px;
  padding-right: 5px;

}

.action-box {
  width: 300px;
  height: 119px;
  border-radius: 4px;
  background-color: #000000;
  display: block;
  text-decoration: none;
}

.action-photo {
  width: 300px;
  height: 119px;
}

.action-box p {
  transform: translateY(-95px);
}

.first-txt {
  width: 300px;
  height: 38px;
  font-size: 26px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald";
  text-align: center;
  margin: 5px;
}

.second-txt {
  text-align: center;
  color: #ffffff;
  margin: 5px;
  display: none;
}

.action-box:hover .second-txt {
  display: block;
  
}

.action-box:hover .first-txt {
  transform: translateY(-105px);
}

.info-box {
  width: 620px;
  height: 100px;
  background-color: #ff6b6b;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.info-box-schedule {
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Lato";
  text-align: center;
}

.info-box-title {
  font-size: 26px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald";
  text-align: center;     
}

.carousel {
  width: 620px;
  height: 220px;
  margin-top: 80px;    
}

.carousel-cell {
  display: flex;
}

.carousel-image {
  width: 193px;
  height: 193px;
  margin: 10px;
}

.carousel-opinion {
  text-align: left;
  width: 370px;
  margin: 20px;

}

.carousel-opinion h1 {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
  font-family: "Lato";
}

.carousel-opinion h2 {
  font-size: 14px;
  line-height: 23px;
  color: #333333;
  font-weight: 400;
  font-family: "Lato";
}

.carousel-opinion a {
  font-size: 14px;
  line-height: 23px;
  color: #333333;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
}

.gallery {
  margin: 90px 20px 20px 20px;
  width: 620px;
  display: flex;
  flex-flow: row wrap;
}

.photos {
  margin: 6px;
  position: relative;
  width: 193px;
  height: 193px;
}

.img {
  width: 193px;
  height: 193px;
  transition: 1s;
}

.foot {
  width: 620px;
  margin: 20px;
  padding: 8px;
}

.foot a {
  font-size: 14px;
  line-height: 23px;
  color: #ff6b6b;
  font-weight: 400;
  font-family: "Lato";
}

.icons {
  position: absolute;
  top: 70px;
  font-size: 25px;
  right: 65px;
  display: none;
}

.fas {
  transition: 1s;
}

.photos:hover .icons {
  display: block;    
}

.photos:hover .img {
  opacity: 0.7;
  filter: alpha(opacity=50); 
}

.fas:hover {
  color: red;
}